.vscode/**
.vscode-test/**
.gitignore
node_modules/**
src/**
test/**
tsconfig.json
vitest.config.ts
.eslintrc.json
.last-published-version
scripts/**
esbuild.js
**/*.ts
**/*.map
**/tsconfig*.json
*.vsix
!out/**
!media/**
!package.json
!README.md
!CHANGELOG.md
!LICENSE
!.vscode/launch.json
!.vscode/tasks.json
